@tailwind base;
@tailwind components;
@tailwind utilities;

.main_container {
  @apply bg-gray-300 max-w-[1200px] items-center text-black w-full mx-auto;
}

@font-face {
  font-family: 'Century Gothic';
  src:
    url('/fonts/CenturyGothic.woff2') format('woff2'),
    url('/fonts/CenturyGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.split-image-container {
  display: flex;
  width: 100%; /* Make the container take up the full width of its parent */
  max-width: 1000px; /* Optional: Set a max width to control scaling */
  margin: 0 auto;
  aspect-ratio: 1 / 1; /* Maintain a square aspect ratio */
  position: relative;
}

.split-image {
  flex: 1; /* Each half takes up 50% of the container */
  background-size: 200% 100%; /* Image is twice the width of each half */
  background-repeat: no-repeat;
  transition: all 400ms ease;
  background-image: url('/hero/AOG_05.jpg'); /* Correct image path */
}

/* Position the left half of the image */
.left-half {
  background-position: left center;
}

/* Position the right half of the image */
.right-half {
  background-position: right center;
}

/* Hover effect */
.split-image-container:hover .split-image {
  margin: 0 24px;
  transform: scale(1.08) rotateZ(3deg);
  box-shadow: 0 5px 40px -24px #00ffdd;
}

.highlight {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.highlight:hover {
  background-color: yellow;
  color: black;
}
